.todo-app-title-container {
  margin: 2vh 0;
}

.todo-app-title {
  margin: 0;
  vertical-align: top;
}

.todo-app-title.username {
  background: linear-gradient(to bottom, transparent 50%, #f3ca20 50%);
  font-style: inherit;
}
