.todo-list-container {
  margin: 20px 0;
}

.todo-list-wrapper {
  width: 50%;
  margin: 0 5px;
  border: 2px solid black;
}

.todo-list-status {
  width: 100%;
  padding: 10px 0;
  border-bottom: 2px solid black;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}

.todo-list {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  min-height: 400px;
  max-height: 400px;
  font-size: 1.5rem;
  overflow-y: auto;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
  border: 1px solid silver;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.todo-item-completed {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
  border: 1px solid silver;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  color: silver;
}

.todo-item-completed .todo-text {
  text-decoration: line-through solid silver 3px;
}

.todo-item-del {
  background: none;
  cursor: pointer;
}

.todo-item-del:hover {
  background: #f5476a;
}
